
@{
    ViewBag.Title = "Login";
}
<link href="~/Content/Css/_UyeGiriscss.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12 col-lg-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">

                    <div class="row">

                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Yönetici Girişi</h3>
                            <label class="danger">@ViewBag.Uyari</label>
                            <form method="post" action="/Admin/AdminLogin">
                                <div class="form-label-group">
                                    <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email" required autofocus>
                                    <label for="inputEmail">Email </label>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Şifre" required>
                                    <label for="inputPassword">Şifre</label>
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Beni Hatırla</label>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Giriş Yap</button>
                                <div class="text-center">
                                    <a class="small" href="#">Şifreni mi unuttun?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

