
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="tr">
<head>

</head>
<body id="page-top">
    

    <section class="page-section row" id="paketler">
        <div class="container">

            @Html.Action("talepleriGetir", "Partial")
        </div>


    </section>
    

    
</body>
</html>
