<link href="~/Content/Css/_hakkimizdacss.css" rel="stylesheet" />
<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-8">
                <div class="about-title clearfix">
                    <h1>cekilisevim.com <span>hakkımızda</span></h1>
                    <h3></h3>
                    <p class="about-paddingB">cekilisevim.com instagram kullanıcıları için hem tamamen gerçek çekilişler ile hesabını büyütmek isteyen kullanıcılara yardımcı oluyor. Hemde de aktif çekilişler
                    ekranı ile instagramdaki anlık çekilişleri paylaşarak internet ve instagram kullanıcılarını çoğu çekilişe tek bir yerden ulaştırıyor.</p>
                    <p>İnstagram takipçi kazandırma, yani hesaplarınızı büyütme konusunda anlaşmalı olduğumuz, instagramda büyük kitlelere sahip olan hesaplardan yararlanıyoruz. Sizlerden gelen siparişleri hedef kitlenize en uygun instagram hesap ya da hesaplarına yönlendirerek sizlerin istediği kitleye sayı olarak %100 kitle yaş ve cinsiyet olarak ise %60 -%70lik bir başarı sağlıyoruz. </p>
                    <p>Bu işi yaparken kesinlikle bot takipçi ya da otomatik takipçi gönderme yoluna başvurmuyoruz. Satın aldığınız paket doğrultusunda çekilişlere sponsor olarak sizleri yazarak instagram kullanıcıların bilerek isteyerek sizi takip etmesini sağlıyoruz.</p>
                    <p>Çekilişlere sürekli olarak sponsor olduğunuzda takipçi çakışması yaşanabiliyor ve çekilişe katılım olmasına rağmen sizin hesabınızdaki artış katılımdan az oluyor. Bunu engellemek için bir hesabı aynı sayfaya birden fazla sponsor yapmıyoruz ve bir hesabı 1 hafta geçmeden tekrar çekilişlere sokmuyoruz.</p>
                    <p>Ayrıca reklam paketlerimiz ile sizleri instagramda ulaşmak istediğiniz kitleye göre bir sayfada gönderi ve hikaye paylaşımları yapmanızı sağlıyoruz.</p>
                    <p>Bizlere iletmek istedikleriniz ekranın sol alt köşesinde bulunun WhatsApp numasasından <i>0553 084 32 24</i> ya da <i>info@cekilisevim.com</i> adresine mail atarak ulaşabilirsiniz.</p>
                  
                </div>
            </div>
        </div>
    </div>
</div>