
<div class="container " style="margin-top:100px;">
    <div class="card mb-5 mb-lg-0">
        <h3>Kullanım Sözleşmesi</h3>
        <label>

                cekilisevim.com adresine giren ve cekilisevim.com adresinden sipariş veren herkes cekilisevim.com kullanım sözleşmesini kabul etmiş sayılır.
            Kullanım sözleşmesi maddeler halinde aşağıda belirtildiği gibidir;
        </label>
        <p>
            <b>
                1.	cekilisevim.com, satın alınan paketleri tamamlamak/teslim etmek ile yükümlüdür.
            </b>
          
        </p>
        <p>
            <b>
                2.	cekilisevim.com, satın alınan paketleri tamamladıktan/teslim ettikten sonra garanti,telafi ve iade vermez.
            </b>
           
        </p>
        <p>
            <b>
                3.	cekilisevim.com'dan hizmet alan müşteriler, alınan hizmetlerin tamamlanmasından/teslim edilmesinden sonra, Hizmetlerin tamamımın (%100'ünün) kaybolabileceğini/silinebileceğini kabul ederek alışveriş yapar.
            </b>
           
        </p>
        <h4>GENEL KULLANIM SÖZLEŞMESİ</h4><br />
                                          <b>
                                              Site kullanımı ile ilgili genel kurallar ve yasal sorumluluklar aşağıda belirtilen şartları, kurallar ve yasal sorumlulukları içeren Kullanım Sözleşmesi’nin cekilisevim.com sitesi kullanılmadan önce okunması tavsiye edilir.
                                          </b>
      
        - Belirtilen şartların sizin için uygun olmaması halinde lütfen cekilisevim.com sitesini kullanmayınız.<br />
        - Siteyi kullanarak ve kişisel bilgilerinizin yer aldığı sipariş formunu doldurarak bu sayfalarda yazılı şartları kabul etmiş sayılmaktasınız.<br />
        - cekilisevim.com işbu site ve site uzantısında mevcut her tür hizmet, ürün, kullanma koşulları ile sitede sunulan bilgileri önceden bir ihtara gerek olmaksızın değiştirme, yeniden organize etme, yayını durdurma hakkını saklı tutar.<br />
        - Değişiklikler sitede yayın tarihinde yürürlüğe girer.<br />
        - cekilisevim.com kullanıcılarına siteye her girişte kullanım sözleşmesi sayfasını ziyaret etmelerini tavsiye etmektedir.<br />
        - Bu koşullar link verilen diğer web sayfaları için de geçerlidir. Kullanım sözleşmesi cekilisevim.com’un tüm kullanıcılarına açıktır.<br />
        - Site üzerinde verilen hizmetlerin tamamı ücretlidir. Aşağıdaki yazılı durumlarda, site yönetimi kullanıcının site kullanımını engelleyebilir ve aşağıdaki girişimlere karışan kişi veya kişiler hakkında kanuni haklarını saklı tutar:<br />


        1.a. Yanlış, düzensiz, eksik ve yanıltıcı bilgiler, genel ahlak kurallarına uygun olmayan ifadeler içeren ve Türkiye Cumhuriyeti yasalarıyla ters düşen bilgilerin siteye kaydedilmesi,<br />
        1.b. Site içeriğinin izinsiz olarak kısmen veya tümüyle kopyalanması,<br />
        1.c. Sitenin güvenliğini tehdit edecek, sitenin çalışmasını engelleyecek yazılımların kullanılması, faaliyetlerin yapılması, yapılmaya çalışılması ve bilgilerin alınması, silinmesi, değiştirilmesi.<br />
        2.a. cekilisevim.com bu internet sitesi genel görünüm ve dizaynı ile internet sitesinde tüm bilgi, cekilisevim.com markası ve diğer markalar, cekilisevim.com alan adı, logo, ikon, demonstratif, yazılı, elektronik, grafik veya makinede okunabilir şekilde sunulan teknik veriler, bilgisayar yazılımları, uygulanan satış sistemi, iş metodu ve iş modeli de dahil tüm materyallerin (“Materyaller”) ve bunlara ilişkin fikri ve sınai mülkiyet haklarının sahibi veya lisans sahibidir ve yasal koruma altındadır. Internet sitesinde bulunan hiçbir Materyal; önceden izin alınmadan ve kaynak gösterilmeden, kod ve yazılım da dahil olmak üzere, değiştirilemez, kopyalanamaz, çoğaltılamaz, başka bir lisana çevrilemez, yeniden yayımlanamaz, başka bir bilgisayara yüklenemez, postalanamaz, iletilemez, sunulamaz ya da dağıtılamaz.
        Internet sitesinin bütünü veya bir kısmı başka bir internet sitesinde izinsiz olarak kullanılamaz. Aksine hareketler hukuki ve cezai sorumluluğu gerektirir.<br />
        cekilisevim.com'un burada açıkça belirtilmeyen diğer tüm hakları saklıdır.<br />

        2.b.cekilisevim.com ’a iletilen tüm eleştirilerin hakkı cekilisevim.com a aittir, istenildiği taktirde cekilisevim.com tarafından pazarlama amacıyla kullanılabilir.<br />


                                                                                                                                                                            <h4>SORUMLULUKLAR</h4>  
        3.a. cekilisevim.com u ziyaret eden kullanıcıların bilgileri (ziyaret süresi, zamanı, görüntülenen sayfalar) onlara daha iyi hizmet edebilmek amacı ile takip edilebilir.<br />
        3.b. Kullanıcı, diğer kullanıcıların ve ziyaretçilerin cekilisevim.com sitesini kullanmasını önleyici veya zorlaştırıcı hareketlerde bulunamaz, sunucuları ya da veritabanlarını otomatik programlar yükleyip zorlayamaz/kilitleyemez. Hile girişimlerinde bulunamaz. Bulunması halinde durumdan doğabilecek her türlü hukuki, cezai sorumluluğu kabul eder.<br />
        3.c. cekilisevim.com yönetimi ile yapılan mesajlaşmaların yedeğinin alınması kişilerin sorumluluğundadır ve cekilisevim.com tarafından önerilmektedir. Mesajlaşmaların yedeklerinin alınmaması nedeniyle kaybolmasından, silinmesinden veya hasar görmesinden cekilisevim.com sorumlu tutulamaz.<br />
        3.d. Bu internet sitesi cekilisevim.com kontrolü altında olmayan başka internet sitelerinde bağlantı veya referans içerebilir. cekilisevim.com, bu sitelerin içeriklere veya içerdikleri diğer bağlantılardan sorumlu değildir.<br />
        3.e. cekilisevim.com, kullanıcı tarafından siteye sipariş formunda belirtilen adresi, e-posta adresi, sabit veya mobil telefon hatları ve diğer iletişim bilgileri üzerinden mektup, e-posta, SMS, telefon görüşmesi ve diğer yollarla kullanıcıya iletişim, pazarlama, bildirim ve diğer amaçlarla kullanıcıya ulaşma hakkı bulunmaktadır. Kullanıcı işbu sözleşmeyi kabul etmekle aksine bir yazılı bildirimi olmadığı müddetçe cekilisevim.com nın kendisine yönelik yukarıda belirtilen iletişim faaliyetlerinde bulunabileceğini kabul ve beyan etmektedir.<br />
        3.f. Sitenin belirli yerlerinde o bölüme özel farklı kurallar ve yükümlülükler belirtilebilir. Bu bölümleri kullanan kişi ve kuruluşlar peşinen belirtilen bu kuralları kabul etmiş sayılır.
        3.g. Kullanıcılarımızın kişisel bilgilerini ve gizliliklerini korumak için aldığımız önlemler ve bu konudaki genel politikamızı okumak için, lütfen “Kullanım Sözleşmesi” sayfasını okuyunuz. Kullanıcı, servisten faydalanmaya başlandığı andan itibaren bu kullanım sözleşmesinin tüm hükümlerini kabul etmiş sayılacağını ve sözleşmenin kendisi hakkında hüküm ifade edeceğini kabul eder. Kullanıcı işbu sözleşme ile üstlenmiş olduğu yükümlülüklere aykırı hareketi nedeniyle cekilisevim.com nın uğrayacağı her türlü zararı aynen tazmin etmeyi kabul eder. cekilisevim.com 'un, kullanıcının sözleşmeye aykırı davranışları nedeniyle kamu kurumlarına ve/veya üçüncü şahıslara ödemek zorunda kalabileceği her türlü tazminat ve/veya idari/adli para cezaları için kullanıcıya aynen rücu hakkına sahiptir.<br />


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               <h4>HİZMET SÜREKLİLİĞİ</h4>
        4.a cekilisevim.com taahhüt ettiği hizmetlerin sürekliliğini sağlamak için, işbu sözleşmede herhangi bir bildirimde bulunmaksızın tek taraflı değişiklik yapabilir. cekilisevim.com 'un her zaman herhangi bir gerekçe göstermeksizin, tek taraflı olarak verdiği hizmeti sürekli veya geçici olarak durdurma, servisin içeriğini değiştirme veya iptal etme hakkı vardır. Kullanıcı işbu hakkı kabul eder. cekilisevim.com, herhangi bir değişiklik olması halinde güncel kullanım şartlarını aynı link altında yeni tarih güncellemesi ile sitesinde yayınlanacak, gerek görmesi halinde elektronik posta ya da sms ile kullanıcılarına bildirilecektir. Yenilenmiş güncel kullanım şartları, cekilisevim.com da yayınlandığı andan itibaren geçerli olacak ve cekilisevim.com sitesinin hizmetlerinin kullanımı o andan itibaren yenilenmiş kullanım şartlarına bağlı olacaktır.<br />
        4.b Sözleşmenin Yürürlüğe Girmesi Kullanıcı, talep formunu doldurup onayladığı ya da bu sistemi kullanarak herhangi bir hizmet aldığı ya da sipariş verdiği andan itibaren cekilisevim.com sözleşmesine uymayı taahhüt etmiş kabul edilir.<br />


                                                                                                                                                                                                                                                  <h4>GİZLİLİK SÖZLEŞMESİ</h4> 
        cekilisevim.com kullanıcılarının site üzerinde yaptığı işlemlerin kayıtları kesinlikle gizli tutulmakta ve kesinlikle 3. şahıs ve kurumlar ile paylaşılmamaktadır.
        Vermiş olduğunuz siparişler servis sağlayıcıları ile paylaşılmaktadır. Ancak resmi devlet kurumları tarafın talep edilmesi halinde kayıtlar resmi devlet kurumu görevlilerine sunulabilir.

    </div>
  
</div>
